* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 206px;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: lightgray;
  display: flex;
}

.card {
  height: 388px;
  width: 300px;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

h2 {
  margin-top: 24px;
  margin-left: 24px;
}
.txt {
  display: flex;
  width: 70%;
  justify-content: space-around;
  color: gray;
  margin-bottom: 50px;
  margin: auto;
  margin-bottom: 30px;
}
.car-img {
  width: 232px;
  height: 72px;
  margin-top: 88px;
  margin-bottom: 50px;
  margin-left: 36px;
}

.price {
  margin-left: 24px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #333;
}

.rent {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  flex-direction: row;
  justify-content: space-between;
}

.price-rent {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  align-items: center;
}

.ccgt {
  text-align: center;
}

.ccgt-pic {
  width: 400px;
  height: auto;
}
.sell-price {
  display: flex;
  margin-top: 40px;
  justify-content: flex-end;
  font-size: large;
  color: red;
}

.ccgt-back {
  display: flex;
  height: auto;
  width: 400px;
  margin-left: 535px;
}
.engine {
  color: yellow;
}
